/* header css */
.header{
  margin: 0 20%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 100px;
}

.logo-img{
  max-width: 100%;
  max-height: 100%;
  display: block; 
}

.header input{
  border: 1px solid black;
  margin-top: 5px;
  padding: 10px;
  padding-right: 100px;
  border-radius: 10px;
  width: 100%;
}

.link a{
  padding: 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* image gallery css */
.section{
  margin: 2% 15%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
}

.loading{
  margin: 2% 15%;
  text-align: center;
}

.card{
  width: 350px;
  height: 300px;
  padding: 5px;
  overflow: hidden;
  transition: transform 500ms ease;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.card-img{
  width: 100%;
  height: 100%;
  object-fit:cover; 
  border-radius: 10px;
}



/* auth css */
.form{
  position: fixed;
  top: 20%;
  left: 50%;
}

a{
  text-decoration: none;
}

.input-container{
  margin: 10px 0;
}

.input-container input{
  border-radius: 5px;
  padding: 5px;
}